#!/bin/bash

# Require root privileges
[ "$UID" -eq 0 ] || exec sudo "$0" "$@"

function displayStartMessage() {
	echo "Usage: control <command> [options]"
	echo ""
	echo "Commands:"
	echo "   control start            Start the development environment"
	echo "   control stop             Stop the development environment"
	echo ""
	echo "Development Environment v$(cat ./version)"
}

function executeCommand() {
	if [ -f ./.scripts/"$1".sh ]; then
		bash ./.scripts/"$1".sh
	else
		displayStartMessage
	fi
}

executeCommand "$1"
