#!/bin/bash

function displayStartMessage() {
	echo "Usage: control <command> [options]"
	echo ""
	echo "Commands:"
	echo "   control start            Start the development environment"
	echo "   control stop             Stop the development environment"
	echo "   control install          Install necessary components of the development environment"
	echo "   control build            Build the development environment"
	echo ""
	echo "Project Boilerplate v$(cat ./.project/version)"
}

function ensureConfig() {
    DIR="$HOME/.editor_config/"
    if [ -d "$DIR" ]; then
        mkdir ~/.editor_config &> /dev/null
        mkdir ~/.editor_config/extensions &> /dev/null
        touch ~/.editor_config/settings.json &> /dev/null
    fi
}

function executeCommand() {
	if [ -f ./.project/scripts/"$1".sh ]; then
		bash ./.project/scripts/"$1".sh
	else
		displayStartMessage
	fi
}

ensureConfig
executeCommand "$1"
